* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

/* CSS del header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo-name-container {
    display: flex;
    align-items: center;
}

.logo-name-container img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 20%;
    object-fit: cover;
}

.logo-name-container h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3C43F9;
}

.search-input {
    display: flex;
    align-items: center;
}

.search-input i {
    margin-right: 1rem;
    color: #3C43F9;
}

.search-input input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    width: 400px;
    outline: none; /* Elimina el borde de enfoque predeterminado del navegador */
}

.search-input input:focus {
    border: 2px solid #3C43F9;
}

/* CSS de la tabla de items */
.container-table {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 100px auto;
}

.btn-new-product {
    color: #FFF;
    background-color:#3C43F9 ;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
}

.btn-new-product:hover {
    background-color: #007bff;
    color: white;
}

.headers-container {
    display: flex;
    justify-content: space-between;
}

.table-header {
    padding: 20px 0;
    font-size: 18px;
}

/* CSS de la tarjeta item */
.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    border: 2px solid;
    padding: 10px;
    border-radius: 20px;
}

.container img {
    margin-left: 50px;
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.container .product-desc {
    margin-right: 100px;
}
.container .product-desc h3 {
    margin-bottom: 60px;
}

.container .product-desc p {
    font-size: 18px;
}

.container .creation-date {
    margin-right: 5%;
    margin-top: 50px;
}

.container .modification-date {
    margin-right: 5%;
    margin-top: 50px;
}

.container .button button {
    margin-right: 5%;
    margin-top: 55px;
    color: #FFF;
    background-color:#3C43F9 ;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

.container .button button:hover { 
    color: #FFF;
    background-color:#0006be ;
}

/* CSS del modal */
label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
}

textarea {
    margin-bottom: 10px;
}

#item-simple {
    display: none;
}

#item-visual {
    display: none;
}

#buttons-selection h2 {
    text-align: center;
    font-size: 22px;
    margin: 20px;
}

.buttons-selection {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}